{% extends "ohaut_base.html" %}

{% block head_extra %}
{% endblock %}

{% block tabs %}
   <li class="active"><a data-toggle="tab" href="#lamp" aria-controls="lamp">Lamp</a></li>
{% endblock %}

{% block tab_panes %}
    <div role="tabpanel" class="tab-pane fade in active" id="lamp">

      <h1>Current lamp values</h1>

      <div class="form-group">
          <label class="col-sm-3 control-label">CH0</label>
          <div class="col-sm-7">
              <div id="ch0_slider"></div>
          </div>
      </div>

      <div class="form-group">
          <label class="col-sm-3 control-label">CH1</label>
          <div class="col-sm-7">
              <div id="ch1_slider"></div>
          </div>
      </div>

      <div class="form-group">
          <label class="col-sm-3 control-label">CH2</label>
          <div class="col-sm-7">
              <div id="ch2_slider"></div>
          </div>
      </div>

      <h1>Lamp startup settings (0-100 or empty to get it from net)</h1>

      <div class="form-group">
          <label for="startup_val_l0" class="col-sm-3 control-label">Channel 0</label>
          <div class="col-sm-7">
              <input class="form-control" name="startup_val_l0" value=''>
          </div>
      </div>

      <div class="form-group">
          <label for="startup_val_l1" class="col-sm-3 control-label">Channel 1</label>
          <div class="col-sm-7">
              <input class="form-control" name="startup_val_l1" value=''>
          </div>
      </div>

      <div class="form-group">
          <label for="startup_val_l2" class="col-sm-3 control-label">Channel 2</label>
          <div class="col-sm-7">
              <input class="form-control" name="startup_val_l2" value=''>
          </div>
      </div>

      <div class="col-sm-7">
        <br/>
      </div>

      <input type="submit" value="Save and Reboot">
    </div>
{% endblock %}

{% block javascript_imports %}
    <script src="js/ray.js"></script>
{% endblock %}
